<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vcanpay">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.vcanpay.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.vcanpay.activity.VcanPayApp"
            android:label="@string/title_activity_vcan_pay_app"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vcanpay.activity.StartActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.vcanpay.activity.TabHostActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_tabhost" />
        <activity
            android:name="com.vcanpay.activity.PicsShowActivity"
            android:label="@string/title_activity_show_activity" />

        <activity
            android:name="com.vcanpay.activity.SignInActivity"
            android:label="@string/sign_in" />
        <activity
            android:name="com.vcanpay.activity.register.RegisterActivity"
            android:label="@string/title_activity_register"/>
        <activity
            android:name="com.vcanpay.activity.MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name="com.vcanpay.activity.TransferringHistoryActivity"
            android:label="@string/title_activity_transferring_history" />
        <activity
            android:name="com.vcanpay.activity.TransferMoneyActivity"
            android:label="@string/title_activity_transfer_money"/>
        <activity
            android:name="com.vcanpay.bankcard.AddBankCardActivity"
            android:label="@string/title_activity_add_bank_card"/>
        <activity
            android:name="com.vcanpay.activity.bill.BillDetailsActivity"
            android:label="@string/title_activity_bill_details"/>
        <activity
            android:name="com.vcanpay.activity.settings.SecurityManagementActivity"
            android:label="@string/title_activity_security_management"/>
        <activity
            android:name="com.vcanpay.activity.security.ChangePasswordActivity"
            android:label="@string/title_activity_change_password" />
        <activity
            android:name="com.vcanpay.activity.security.ChangePaymentPasswordActivity"
            android:label="@string/title_activity_change_payment_password" />
        <activity
            android:name="com.vcanpay.activity.security.FindPaymentPasswordActivity"
            android:label="@string/title_activity_find_payment_password"/>
        <activity
            android:name="com.vcanpay.activity.help.HelpActivity"
            android:label="@string/title_activity_help">
            <intent-filter>
                <action android:name="com.vcanpay.activity.HELP_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vcanpay.activity.help.FeedbackActivity"
            android:label="@string/title_activity_feed_back" />
        <activity
            android:name="com.vcanpay.activity.profile.UpdateUserProfileActivity"
            android:label="@string/title_activity_user_profile" />
        <activity
            android:name="com.vcanpay.activity.recharge.RechargeActivity"
            android:label="@string/title_activity_recharge" />
        <activity
            android:name="com.vcanpay.activity.TransferPaymentActivity"
            android:label="@string/title_activity_transfer_payment" />
        <activity
            android:name="com.vcanpay.activity.withdraw.WithdrawActivity"
            android:label="@string/title_activity_withdraw" />
        <activity
            android:name="com.vcanpay.activity.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="com.vcanpay.activity.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.vcanpay.activity.register.ActivityWithFragment"
            android:label="@string/title_activity_activity_with_fragment" />
        <activity
            android:name="com.vcanpay.activity.register.RegisterActivityNext"
            android:label="@string/title_activity_register_activity_next" />
        <activity
            android:name="com.vcanpay.activity.register.RequestConfirmEmailActivity"
            android:label="@string/title_activity_request_confirm_email" />
        <activity
            android:name="com.vcanpay.bankcard.ManageBankCardActivity"
            android:label="@string/title_activity_manage_bank_card" />
        <activity
            android:name="com.vcanpay.activity.recharge.AddFundActivity"
            android:label="@string/title_activity_recharge_input"
            android:launchMode="singleTop" />
        <activity
            android:name="com.vcanpay.activity.recharge.PrepaidCardRechargeActivity"
            android:label="@string/title_activity_prepaid_card_recharge" />
        <activity
            android:name="com.vcanpay.activity.recharge.ChooseRegionActivity"
            android:label="@string/title_activity_choose_region" />
        <activity
            android:name="com.vcanpay.activity.recharge.ChooseVcpAccountActivity"
            android:label="@string/title_activity_choose_bank_account" />
        <activity
            android:name="com.vcanpay.activity.withdraw.WithdrawConfirmActivity"
            android:label="@string/title_activity_withdraw_confirm" />
        <activity
            android:name="com.vcanpay.activity.bill.PayActivity"
            android:label="@string/title_activity_pay" />
        <activity
            android:name="com.vcanpay.activity.pay.BillsToBePaidActivity"
            android:label="@string/title_activity_bills_to_be_paid" />
        <activity
            android:name="com.vcanpay.activity.transfer.SendMoneyActivity"
            android:label="@string/title_activity_transfer" />
        <activity
            android:name="com.vcanpay.activity.recharge.CellphoneRechargeActivity"
            android:label="@string/title_activity_phone_recharge" />
        <activity
            android:name="com.vcanpay.activity.transfer.SendMoneyConfirmActivity"
            android:label="@string/title_activity_transfer_confirm" />
        <activity
            android:name="com.vcanpay.activity.profile.UpdateAddressActivity"
            android:label="@string/title_activity_update_address_request" />
        <activity
            android:name="com.vcanpay.activity.profile.UpdateMobileActivity"
            android:label="@string/title_activity_update_mobile_request" />
        <activity
            android:name="com.vcanpay.activity.settings.SecurityManageActivity"
            android:label="@string/title_activity_security_manage" />
        <activity
            android:name="com.vcanpay.activity.withdraw.InputAmountActivity"
            android:label="@string/title_activity_input_amount" />
        <activity
            android:name="com.vcanpay.activity.password.ResetPasswordActivity"
            android:label="@string/title_activity_forget_password" />
        <activity
            android:name="com.vcanpay.activity.register.ActivateAccountActivity"
            android:label="@string/title_activity_activate_account" />
        <activity
            android:name="com.vcanpay.activity.recharge.PhoneRechargeDetails"
            android:label="@string/title_activity_phone_recharge_details" />
        <activity
            android:name="com.vcanpay.activity.recharge.PhoneRechargeSuccessActivity"
            android:label="@string/title_activity_phone_recharge_success" />
        <activity
            android:name="com.vcanpay.bankcard.ActivateBankCardActivity"
            android:label="@string/title_activity_activate_bank_card" />
        <activity
            android:name="com.vcanpay.bankcard.InputAmountToValidateActivity"
            android:label="@string/title_activity_input_amount_to_validate" />
        <activity
            android:name="com.vcanpay.activity.password.ResetPasswordActivity2"
            android:label="@string/title_activity_reset_password_activity2" />
        <activity
            android:name="com.vcanpay.bankcard.BankCardDetailsActivity"
            android:label="@string/title_activity_bank_card_details" />
        <activity
            android:name="com.vcanpay.activity.pay.BillDetailsActivity"
            android:label="@string/pay" />
        <activity
            android:name="com.vcanpay.activity.AgreementAndPrivacyActivity"
            android:label="@string/agreement" />
        <meta-data
            android:name="com.vcanpay.glide.GlideConfiguration"
            android:value="GlideModule" />
    </application>

</manifest>
